<table>
  <thead>
    <tr>
      <th colspan="1"></th>
      <th>Title</th>
      <th>Opinion</th>
    </tr>
  </thead>

  <tbody>
    <div>
      <h3><%= @user.name %></h3>
      <%= image_tag @user.get_profile_image(100,100) %>
    </div>

    <% @books.each do |book| %>
      <tr>
        <td><%= image_tag @user.get_profile_image(50,50) %></td>
        <td><%= book.title %></td>
        <td><%= book.body %></td>
      </tr>
    <% end %>
  </tbody>
</table>