<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div>
        <a href="/">Bookers</a>
      </div>

      <% if user_signed_in? %>
        <li>
          <%= link_to "Home",user_path(current_user.id) %>
        </li>
        <li>
          <a href="/users">Users</a>
        </li>
        <li>
          <a href="/books">Books</a>
        </li>
        <li>
          <%= link_to "Log out",destroy_user_session_path,method: :delete %>
        </li>
      <% else %>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/home/about">About</a>
        </li>
        <li>
          <%= link_to "Sign up",new_user_registration_path %>
        </li>
        <li>
          <%= link_to "Log in",new_user_session_path %>
        </li>
      <% end %>
    </header>


    <%= yield %>

    <footer>
      <div>
        <p>CopyRight Infratop.inc</p>
      </div>
    </footer>
  </body>
</html>
